
<section class="container-full footer">
  <svg id="anglesvg" viewBox="0 0 1440 60" xmlns="http://www.w3.org/2000/svg"><path d="M720 60l720-60H0z" fill="#f5f6ff" /></svg>

  <!-- Insignia -->
  <img class="img-responsive img-md img-corner-up-right float-right" src="/assets/IEEE HAC_SIGHT Funded Projects COVID19 Insignia WHITE.png" alt="ieee-hac-insignia">

  <div class="container grid-xl footer-contents mb-0">
    <div class="columns text-center">

      <!-- Social media -->
      <div class="column col-12">
        <div class="footer-social my-4">
            {% if site.twitter_username == null %}
            {% else %}
            <a href="https://www.twitter.com/{{ site.twitter_username }}" target="_blank"><i class='uil uil-twitter'></i></a>
            {% endif %}

            {% if site.github_username == null %}
            {% else %}
            <a href="https://github.com/{{ site.github_username }}" target="_blank"><i class='uil uil-github'></i></a>
            {% endif %}

            {% if site.linkedin_page == null %}
            {% else %}
            <a href="{{ site.linkedin_page}}"><i class='uil uil-linkedin' target="_blank"></i></a>
            {% endif %}

            {% if site.facebook_page == null %}
            {% else %}
            <a href="{{ site.facebook_page}}"><i class='uil uil-facebook' target="_blank"></i></a>
            {% endif %}

            {% if site.email == null %}
            {% else %}
            <a href="mailto:{{ site.email }}"><i class='uil uil-envelope' target="_blank"></i></a>
            {% endif %}

            {% if site.instagram_username == null %}
            {% else %}
            <a href="http://instagram.com/{{site.instagram_username}}" target="_blank"><i class='uil uil-instagram'></i></a>
            {% endif %}
          </div>
      </div>
    </div>

    <div class="columns">
      <!-- Site Map -->
      <div class="column col-12 text-center">
	<ul class="list-pipe">
	  <li><a href="/">Home</a></li>
	  <li><a href="{{ site.nav_item_one_link }}">{{ site.nav_item_one }}</a></li>
	  <li><a href="{{ site.nav_item_two_link }}">{{ site.nav_item_two }}</a></li>
	  <li><a href="{{ site.nav_item_three_link }}">{{ site.nav_item_three }}</a></li>
	  <li><a href="{{ site.nav_button_link }}">{{ site.nav_button }}</a></li>
	</ul>
      </div>

      <!-- Copyright -->
      <div class="column col-8">
        <p>© 20{{ site.time | date: '%y' }}, Núcleo de Reparo de Ventiladores Mecânicos.</p>
	<p>Feito com <span style="color: #e25555;">&#9829;</span> pela <a href="https://www.facebook.com/ieee.yp.rio" target="_blank">equipe do IEEE YP Rio</a> e demais contribuidores. Mais informações sobre o desenvolvimento no <a href="https://github.com/rio-covid-19/rio-covid-19.github.io" target="_blank">repositório da página</a>.
	O <i>design</i> desta página refere-se ao trabalho <a href="https://github.com/TeaGuns/odin" target="_blank">Odin</a>.
	</p>

	<p>Este <i>site</i> faz uso de <i>cookies</i> e permanecendo nele significa que você concorda com <a href="http://www.ieee.org/site_terms_conditions.html?WT.mc_id=hpf_terms&amp;utm_source=hp&amp;utm_campaign=hpf_terms&amp;utm_medium=hpf&amp;utm_term=terms%20conditions" target="_blank">as informações coletadas</a>.</p>
      </div>

      <!-- Description -->
      <div class="column col-4 text-justify">
	<p></br>{{ site.foot_descrip }}</p>
      </div>
    </div>

  </div>
</section>
