{% if site.news != null %}
<div class="container p-16 text-center">

<div class="column col-12 text-center text-uppercase mt-16">
  <h6>{{ site.news }}</h6>
</div>

<div class="gallery js-flickity p-8"
  data-flickity-options='{ "wrapAround": true, "freeScroll": true, "autoPlay": true, "pauseAutoPlayOnHover": true, "pageDots": false }'>
  {% for news in site.data.news %}
    <div class="gallery-cell">
	<a href="{{ news[1].link }}" target="_blank">
	  <p class="text-large text-italic">{{ news[1].title }}</p>
	  {% if news[1].kind == "video" %}
	    &#x1f3ac;
	  {% else %}
	    &#x1f4f0;
	  {% endif %}
	  <emph>  {{ news[1].source }}</emph>
	</a>
    </div>
  {% endfor %}
</div>

</div>
{% endif %}
