{% if site.help_one_title == null %}
{% else %}
<div class="column col-12 text-center">
  <h4>Organização</h4>
</div>
<div class="grid grid-pad">
    <div class="col-1-3">
       <div class="content">
           <h3>col-1-3</h3>
       </div>
    </div>
    <div class="col-1-3">
       <div class="content">
           <h3>col-1-3</h3>
       </div>
    </div>
    <div class="col-1-3">
       <div class="content">
           <h3>col-1-3</h3>
       </div>
    </div>
</div>
<div class="column col-12 text-center">
  <h4>Financiamento</h4>
</div>
<div class="grid grid-pad">
    <div class="col-1-1">
       <div class="content">
           <h3>col-1-1</h3>
       </div>
    </div>
</div>
<div class="column col-12 text-center">
  <h4>Empresas Parceiras</h4>
</div>
<div class="grid grid-pad">
    <div class="col-1-3">
       <div class="content">
           <h3>col-1-3</h3>
       </div>
    </div>
    <div class="col-1-3">
       <div class="content">
           <h3>col-1-3</h3>
       </div>
    </div>
    <div class="col-1-3">
       <div class="content">
           <h3>col-1-3</h3>
       </div>
    </div>
</div>
<div class="grid grid-pad">
    <div class="col-1-3">
       <div class="content">
           <h3>col-1-3</h3>
       </div>
    </div>
    <div class="col-1-3">
       <div class="content">
           <h3>col-1-3</h3>
       </div>
    </div>
    <div class="col-1-3">
       <div class="content">
           <h3>col-1-3</h3>
       </div>
    </div>
</div>
<div class="grid grid-pad">
    <div class="col-1-3">
       <div class="content">
           <h3>col-1-3</h3>
       </div>
    </div>
    <div class="col-1-3">
       <div class="content">
           <h3>col-1-3</h3>
       </div>
    </div>
    <div class="col-1-3">
       <div class="content">
           <h3>col-1-3</h3>
       </div>
    </div>
</div>
<div class="grid grid-pad">
    <div class="col-1-2">
       <div class="content">
           <h3>col-1-2</h3>
       </div>
    </div>
    <div class="col-1-2">
       <div class="content">
           <h3>col-1-2</h3>
       </div>
    </div>
</div>
