.nav-blurple {
  background: $primary-color;
}

.navbar {
  padding: 15px 10px;
  &.dash-nav {
    padding: 12px 0;
    .nav-links, .navbar-toggle {
      color: $dark-color;
    }.navbar-toggle {
      top: 4px;
    }
  }
}


.nav-full {
  background: $primary-color-dark;
}

.main-nav {
  list-style-type: none;
  display: none;
}

.nav-links {
  text-decoration: none;
  font-weight: 700;
  color: $white;
  &.active {
    color: $error;
  }
}

.main-nav li {
  text-align: center;
  margin: 15px auto;
}

.logo {
  display: flex;
  align-items: center;
  border: 0;
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
  }
  h4 {
        margin: 0;
        margin-left: 14px;
        color: $white;
        font-weight: 700;
  }
  &:hover {
        border: 0;
  }
  p {
        font-size: 10px;
        background: $gray-color;
        padding: 2px 8px;
        border-radius: 5px;
        margin-left: 5px;
  }
}

.navbar-toggle {
  position: absolute;
  top: 14px;
  right: 20px;
  cursor: pointer;
  color: $white;
  font-size: 24px;
}

.active {
  display: block;
}

@media screen and (min-width: 768px) {
  .navbar {
        padding: 30px 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        & .dash-nav {
          padding: 20px 0;
        }
        .navbar-toggle {
              display: none;
        }
        .logo {
              margin-top: 0;
              img {
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 40%;
              }
        }
        .main-nav {
              display: flex;
              margin-right: 30px;
              flex-direction: row;
              align-items: center;
              margin: 0;
              li {
                    margin: 0;
                    margin-left: 20px;
                    &.nav-divider {
                      width: 2px;
                      background: $white;
                      height: 20px;
                      &.divider-dark {
                        background: $dark-color;
                      }
                    }
                    & a.active {
                      color: $error;
                      border: 2px solid transparent;
                      text-decoration: none;
                    }
              }
        }

  }  
}


.collapse:not(.show) {
  display: none;
}

.navbar-collapse {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-align: center;
  align-items: center;
  transition: 0.3s ease-in-out;
}

.navbar-nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  //background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
